In [11]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re

In [10]:
df_1 = pd.read_csv('../data/kk/kk.tsv', sep='\t')
df_1 = df_1['context1'].to_frame()
df_1

                                              context1
0    <word>Өркен</word> - өсімдіктің негізгі бөлігі...
1    Осы зиянкестердің санын бірден - бір негізгі р...
2    Олар : « Вокал студиясы », « Ағылшын тілінде д...
3    Хайльбронн () — Германия ауданы . Аудан орталы...
4    Теңіз ірбісі , теңіз қабыланы () – нағыз итбал...
..                                                 ...
672  « Құрмет белгісі » ( 1981 ), II дәрежелі «  <w...
673  cloud computing ) қажетті конфигурацияланған е...
674  Аудан жерімен Жақсы Қарғалы ,  <word>Ор</word>...
675  Ауыл 1962 – 96 ж . етті ірі қара мал өсіретін ...
676  Мұхаммедтің толық аты былай : Әбул Қасым Мұхам...

[677 rows x 1 columns]

In [23]:
regex = re.compile('[^a-zA-Z]')
regex.sub('', 'Теңіз ірбісі , теңіз қабыланы () – нағыз итбал')
''.join([i for i in 'Теңіз ірбісі , теңіз қабыланы () – нағыз итбал' if (i.isalpha() or i==' ')]).lower()

def char_clean(s):
    return ''.join([i for i in s if (i.isalpha() or i==' ')]).lower()

char_clean('Аудан жерімен Жақсы Қарғалы , <word>Ор</word>.')

'аудан жерімен жақсы қарғалы  wordорword'

In [27]:


char_clean(remove_word('Аудан жерімен def remove_word(s):
    tmp_lst = s.split('word')
    output = ''.join(tmp_lst)
    return outputЖақсы Қарғалы , <word>Ор</word>'))

'аудан жерімен жақсы қарғалы  ор'

In [28]:
df_1['context1'] = df_1['context1'].map(remove_word)
df_1['context1'] = df_1['context1'].map(char_clean)
df_1

                                              context1
0    өркен  өсімдіктің негізгі бөлігі  сабақтан жән...
1    осы зиянкестердің санын бірден  бір негізгі ре...
2    олар   вокал студиясы   ағылшын тілінде драма ...
3    хайльбронн   германия ауданы  аудан орталығы  ...
4    теңіз ірбісі  теңіз қабыланы   нағыз итбалықта...
..                                                 ...
672   құрмет белгісі     ii дәрежелі   достық     i...
673  cloud computing  қажетті конфигурацияланған ес...
674  аудан жерімен жақсы қарғалы   ор  қызылқайың  ...
675  ауыл    ж  етті ірі қара мал өсіретін кеңшарды...
676  мұхаммедтің толық аты былай  әбул қасым мұхамм...

[677 rows x 1 columns]

In [33]:
label = [1]*len(df_1)
df_1['y']=label
df_1 = df_1.drop(columns='y')
df_1

                                              context1
0    өркен  өсімдіктің негізгі бөлігі  сабақтан жән...
1    осы зиянкестердің санын бірден  бір негізгі ре...
2    олар   вокал студиясы   ағылшын тілінде драма ...
3    хайльбронн   германия ауданы  аудан орталығы  ...
4    теңіз ірбісі  теңіз қабыланы   нағыз итбалықта...
..                                                 ...
672   құрмет белгісі     ii дәрежелі   достық     i...
673  cloud computing  қажетті конфигурацияланған ес...
674  аудан жерімен жақсы қарғалы   ор  қызылқайың  ...
675  ауыл    ж  етті ірі қара мал өсіретін кеңшарды...
676  мұхаммедтің толық аты былай  әбул қасым мұхамм...

[677 rows x 1 columns]

In [35]:
file1 = open('../data/kk/kk_book.txt', 'r')
Lines = file1.readlines()

In [38]:
def remove_substr(s, substr):
    tmp_lst = s.split(substr)
    output = ''.join(tmp_lst)
    return output

In [44]:
data_2 = [remove_substr(a, '\t') for a in Lines]
data_2 = [remove_substr(a, '\n') for a in data_2]
data_2 = [char_clean(a) for a in data_2]

In [47]:
df_2 = pd.DataFrame({'context1': data_2})

In [51]:
file2 = open('../data/kk/book2.txt', 'r')
Lines = file2.readlines()
data_3 = [remove_substr(a, '\t') for a in Lines]
data_3 = [remove_substr(a, '\n') for a in data_3]
data_3 = [char_clean(a) for a in data_3]
df_3 = pd.DataFrame({'context1': data_3})

In [61]:
df = pd.concat([df_1, df_2, df_3])
labels = [1]*len(df)
df['y'] = labels
len(labels)

4395

In [55]:
df.to_csv('kk_final.csv', index=False)

In [60]:
df_ru = pd.read_csv('../data/ru/dev_larger.tsv', sep='\t')
df_ru = df_ru['context1'].to_frame()
df_ru['context1'] = df_ru['context1'].map(remove_word)
df_ru['context1'] = df_ru['context1'].map(char_clean)
df_ru['y'] = [0]*len(df_ru)
df_ru

                                               context1  y
0     радиостанция  финам fm  вещала в москве и моск...  0
1      июня  на slammiversary  мэтт был побежден дже...  0
2     в арктической и тундровой зоне встречаются бел...  0
3      элемент преступления    дебютный полнометражн...  0
4     в  году в анадыре вводится в работу коммунальн...  0
...                                                 ... ..
4995  труд андрея ивановича богданова  историческое ...  0
4996  обели  кс   от  обелиск  типографская пометка ...  0
4997  одноранговая связь  простейший случай взаимоде...  0
4998  получив возможность выезда с гастролями загран...  0
4999  в  году в сотрудничестве с аргоннской лаборато...  0

[5000 rows x 2 columns]

In [62]:
df_ru.to_csv('ru_final.csv', index=False)

In [65]:
final = pd.concat([df, df_ru])

In [70]:
from sklearn.utils import shuffle
final = shuffle(final)

In [ ]:
final.to_csv('final.csv', index=False)